# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\ITplus\Đề tài kết thúc môn\detaithiketthucmonhtml\Admin Bus Online - HoaMX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
